doctype html
html
  head
    title=title
    //if needed to add css file which will work for multiple pages, 
    //add here simple reference
    
    script(type='text/javascript' src='/javascripts/script.js')
  body
    block content
